In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('dataset/diamonds.csv')

In [3]:
df

,ID,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,4,5,1,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,3,5,2,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,1,5,4,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,3,1,3,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,1,0,1,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,4,6,2,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,1,6,2,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,2,6,2,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,3,2,1,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,4,6,1,62.2,55.0,2757,5.83,5.87,3.64

In [4]:
df.isnull().sum()

ID         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       53940 non-null  int64
 1   carat    53940 non-null  float64
 2   cut      53940 non-null  int64
 3   color    53940 non-null  int64
 4   clarity  53940 non-null  int64
 5   depth    53940 non-null  float64
 6   table    53940 non-null  float64
 7   price    53940 non-null  int64
 8   x        53940 non-null  float64
 9   y        53940 non-null  float64
 10  z        53940 non-null  float64
dtypes: float64(6), int64(5)
memory usage: 4.5 MB

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Separate features (X) and target variable (y)
X = df.drop(columns=['ID','price']).values
y = df[['price']].values

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
# Initialize StandardScaler
scaler = StandardScaler()

# Fit scaler to training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score

regs={
    KNeighborsRegressor(),
    RandomForestRegressor(),
    LinearRegression()
}

for model in regs:
    model_name=model.__class__.__name__
    model.fit(X_train_scaled,y_train)
    pred=model.predict(X_test_scaled)
    r2=r2_score(y_test,pred)
    print("For ",model_name)
    print(r2)

For  KNeighborsRegressor
0.9680551070170431

C:\Users\User\AppData\Local\Temp\ipykernel_10076\945471560.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train_scaled,y_train)

For  RandomForestRegressor
0.9815614153457046
For  LinearRegression
0.9056643685073513

In [9]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(X_train_scaled,y_train)
pred=model.predict(X_test_scaled)
#pred_prob=model.predict_proba(X_test_scaled)
pred

C:\Users\User\AppData\Local\Temp\ipykernel_10076\2664249277.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train_scaled,y_train)

array([ 558.15, 2375.94, 1205.99, ...,  752.93, 9588.18, 3842.17])

In [10]:
import pickle
pickle.dump(model,open("model/diamond_model.pkl",'wb'))
pickle.dump(scaler,open("model/diamond_scaler.pkl",'wb'))